<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca|Yeon+Sung|Oxanium&display=swap" rel="stylesheet
    <meta http-equiv=" X-UA-Compatible" content="ie=edge">
    <title>Personal</title>
</head>
<style>
    .login-one {
        background-image: url(sit2.jpg);
        background-repeat: repeat-x;
        background-size: cover;
        min-height: 100vh;
        width: 100%;
        /* may not be necessary */
    }

    .wholecont {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
        margin-right: 2%;
        margin-left: 2%;
        border-radius: 0 0 30px 30px;
    }

    .regcontainer {
        display: flex;
        justify-content: center;
    }

    .regcontainer h1 {
        margin-top: 2%;
        margin-right: 0%;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        text-shadow: 1px 1px 5px #000000;
    }

    .name,
    .email,
    .number,
    .interest,
    .gender,
    .place,
    .btn,
    .password,
    .projectdescript1,
    .projectdescript2 {
        display: flex;
        justify-content: center;
    }

    .name,
    .email,
    .number,
    .place,
    .password input {
        margin-right: 0%;
        margin-top: 2%;
    }

    .projectdescript1 textarea {
        margin-right: 0%;
        margin-top: 2%;
        height: 90px;
        width: 250px;
    }

    .projectdescript2 textarea {
        margin-right: 0%;
        margin-top: 2%;
        height: 50px;
        width: 300px;
    }

    .interest select {
        margin-right: 0%;
        margin-top: 2%;
    }

    .gender select {
        margin-right: 0%;
        margin-top: 2%;
    }

    .btn #submitbtn {
        margin-right: 0%;
        margin-top: 0%;
        margin-bottom: 2%;
        font-family: 'Montserrat', sans-serif;
    }

    .btn #backbtn {
        margin-right: 0%;
        margin-top: 0%;
        margin-bottom: 2%;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Oxanium',cursive;
    }

    input,
    textarea {
        background: #ffffff;
        padding: .5em .5em;
        border-radius: 10px;
        border: none;
        font-family: 'Lexend Deca', sans-serif;

    }

    select {
        background: #ffffff;
        font-family: 'Lexend Deca', sans-serif;
        padding: .5em .5em;
        border-radius: 10px;
    }

    .question1 {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        text-shadow: 1px 1px 5px #000000;
    }

    .reply1 {
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }

    .reply1 #No {
        margin-left: 3%;
    }

    .question2 {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        text-shadow: 1px 1px 5px #000000;
    }

    .reply2 {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .reply2 #two {
        margin-left: 3%;
    }

    label {
        font-size: 1.6rem;
    }

    .detailemail{
        margin-bottom: 2%;
    }

  .interest {
      margin-bottom: 3%;
      display: flex;
      justify-content: center;
  }

  .interest select{
      display: flex;
      justify-content: center;
  }
  .interestquestion{
      display: flex;
      justify-content: center;
      margin-bottom: 1%;
      text-shadow: 1px 1px 5px #000000;
  }
  @media all and (max-width:730px){
      .regcontainer h1{
          font-size: 1rem;
          margin-bottom: 2%;
      }
    .reply2 {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .question1, .question2{
          font-size: .7rem;
          margin-right: 2%;
          margin-left: 2%;
          text-align: center;
      }
      .interestquestion{
      display: flex;
      justify-content: center;
      margin-bottom: 1%;
      text-shadow: 1px 1px 5px #000000;
      font-size: .7rem;
  }
  .interest h2{
      font-size: 1.2rem;
      margin-bottom: 2%;
  }
      label {
        font-size: 1rem;
    }
    .interest{
        margin-bottom: 2%;
    }
    .interest select{
        width: 200px;
    }
    .detailemail{
        margin-bottom: 10%;
    }
    .question1,.question2{
        margin-bottom: 1%;
    }
    .reply1,.reply2{
        margin-bottom: 7%;
    }
   button{
       font-size: .7rem;
   }
  }
</style>

<body>
    <section class="login-one">
        <div class="login-one">
            <div class="wholecont" id="acceptcont">
                <div class="regcontainer">
                    <h1> Questionnaire Response of <%=email%></h1>

                </div>
               
          
                <div class="question1">
                    <h2>Do you want free certification for C programming from IIT Bombay ?</h2>
                </div>

                <div class="reply1">
                   <h2><%=answer1%></h2>
                </div>
                <div class="question1">
                    <h2>Do you want free accomodation ?</h2>
                </div>

                <div class="reply1">
                  <h2><%=answer2%></h2>
                </div>

                <div class="question2">
                    <h2>Do you want to register for free workshop on Sunday ?</h2>
                </div>

                <div class="reply2">
                 <h2><%=answer3%></h2>
                </div>
                <div class="interestquestion">
                    <h2>Workshop Selected :-</h2>
                </div>
                <div class="interest" id="option" >
                <h2><%=workshop%></h2>
                </div>
             
                </div>


        


                <div class="btn">
                    <a href="/database.html"><button id="backbtn">Back &#8592;</button></a>
                </div>

            </div>
     

        </div>




        </div>
    </section>
</body>
<script src="./js/main.js"></script>
<script type="text/javascript">
console.log("Hello")

</script>


</html>